.Button {
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 1rem;
}

.Button--primary {
    border: none;
    background-color: var(--primary-color);
    color: white;
}

.Button--primary:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.Button--secondary {
    border: 1px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
}

.Button--secondary:hover {
    cursor: pointer;
    filter: brightness(0.9);
}